form {
    border: 1px solid black;
    padding: 30px 50px;
    margin-top: 20vh;
    h1 {
        margin-top: 0; 
    }
    label {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        input{
            line-height: 25px;
            padding: 0 7px;
        }
    }
    button {
        display: inline-block;
    }
    .error {
        margin: 0px;
        color: red;
    }
    .btns {
        display: flex;
        justify-content: space-between;
        .btn {
            cursor: pointer;
            border: 1px solid grey;
            padding: 2px 5px;
            border-radius: 3px;
            background-color: lightblue;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            &:hover {
                background-color: rgb(91, 182, 212);
            }
        }
    }
}