@import '../../components/userGames/table.scss';
@import '../../components/userGames/steps.scss';

header.your-games{
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        &:hover {
            cursor: pointer;
        }
    }
}
