@import '../pages/auth/auth.scss';
@import '../pages/welcome/welcome.scss';
@import '../pages/userSettings/userSettings.scss';
@import '../pages/gameConfig/gameConfig.scss';
@import '../components/detailsField/detailsField.scss';


body {
    color: blue;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    cursor: default;
}