@import '../pages/auth/auth.scss';
@import '../pages/welcome/welcome.scss';
@import '../pages/userSettings/userSettings.scss';
@import '../pages/gameConfig/gameConfig.scss';
@import '../pages/customizeGame/customizeGame.scss';
@import '../pages/userSettings/detailsField/detailsField.scss';
@import '../components/card/card.scss';


body {
    color: blue;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    cursor: default;
}
.btns {
        display: flex;
        justify-content: space-between;
        &.right {
            justify-content: end;
        }
        .btn {
            cursor: pointer;
            border: 1px solid grey;
            padding: 2px 5px;
            border-radius: 3px;
            background-color: lightblue;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            &:hover {
                background-color: rgb(91, 182, 212);
            }
           
        }
    }