nav {
    display: flex;
    flex-direction: column;
    a{
        color:inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    span {
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    * {
        background-color: burlywood;
        // padding: 20px 0;
    }
}
.cardContainer {
    position: absolute;
    bottom: 34%;
    left: 50%;
}